{% extends '::base.html.twig' %}

{% set body_classes = 'error-page' %}

{% block body %}
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center">
                        <h1 class="error-number">{{ status_code }}!</h1>
                        <h2>Oops! {{ status_code }} {{ status_text|trans }}.</h2>
                        <p>
                            Vamos corrigi-lo o mais rapidamente possível. Desculpe por qualquer inconveniente causado.
                            <a href="{{ path('homepage') }}">retornar para a página inicial</a>.
                        </p>
                        <div class="mid_center">
                            <h3>Buscar</h3>
                            <form>
                                <div class="col-xs-12 form-group pull-right top_search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Buscar por...">
                                        <span class="input-group-btn">
                                  <button class="btn btn-default" type="button">Ok!</button>
                              </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>
{% endblock %}
