/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/node_modules/
/web/assets/
/web/bundles/
/web-src/
/composer.phar
/composer.lock
/web/assets/vendors
*.*~
.idea
