{% block footer %}
    <!-- footer content -->
    <footer>
        <div class="pull-right">
            {{ site_name }}{% if site_slogan %} - {{ site_slogan }}{% endif %}
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
{% endblock %}